.App-container {
  width: 80%;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.App-header {
  padding-bottom: 25px;
  border-bottom: 1px solid lightgray;
}

.App-header-text {
  font-weight: lighter;
  font-size: 1.5em;
  display: inline;
}

.App-header-link {
  float: right;
  color: blue;
}

.App-list-item {
  border-bottom: 1px solid lightgray;
  padding: 15px 5px 15px 5px;
}

.App-completion-status {
  color: lightgray;
  font-size: 0.7em;
  text-transform: uppercase;
}

.App-group-link {
  color: black;
}

input {
  padding: 10px;
  margin: 10px 0;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-right: none;
  border-radius: 5px 0 0 5px;
  width: 60%;
}

input:focus {
  border: 1px solid #2724c5;
}

button {
  /* remove default behavior */
  appearance: none;
  -webkit-appearance: none;

  /* usual styles */
  padding: 10px;
  border-left: none;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  background-color: #2724c5;
  color: #fff;
  font-weight: 600;
  border-radius: 0 5px 5px 0;
}